In [1]:
import numpy as np
import pandas as pd

In [2]:
# Reading the csv 
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [3]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
# What is the total number and percentage of missing data in 2014 to 3 decimal places?

total_missing = data['Y2014'].isnull().sum()
percentage_missing = (total_missing / len(data['Y2014'])) * 100

print(f'The total number of missing data is {total_missing} and the percentage of missing data is {percentage_missing:.3f}%')

The total number of missing data is 1589 and the percentage of missing data is 2.607%

In [5]:
# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
grp1 = data.groupby('Item')
 
grp1.aggregate(np.sum)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [6]:
# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

# Groupby operation on 'Element'

data.groupby('Element').sum().sort_values(by = 'Y2017', ascending = False)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [7]:
# What is the total number of unique countries in the dataset?

# Total number of unique countries in the dataset

unique_countries = data['Area'].nunique()

unique_countries

49

In [8]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

# Selecting columns 'Y2017' and 'Area'

data[['Y2017', 'Area']]
data.groupby('Area').sum().sort_values(by = 'Y2017', ascending = False).head(1)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,
Nigeria,234366,3954357,5726937,1399542.19,1414362.83,1482945.71,1483268.23,1499774.24

In [9]:
# Which year had the least correlation with ‘Element Code’?

# Year with the least correlation with 'Element Code'

data.corr().loc['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [10]:
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

# Mean and standard deviation across the whole dataset for the year 2017

mean_2017 = data['Y2017'].mean()
std_2017 = data['Y2017'].std()

print(f'The mean for the year 2017 is {mean_2017:.2f} and the standard deviation is {std_2017:.2f}')

The mean for the year 2017 is 140.92 and the standard deviation is 1671.86

In [11]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

# Selecting columns 'Y2017' and 'Area'

data[['Y2017', 'Area']]
data.groupby('Area').sum().sort_values(by = 'Y2017', ascending = True).head(7)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,
Sudan (former),10918,146631,286940,0.00,0.00,0.00,0.00,0.00
Ethiopia PDR,2418,107853,209609,0.00,0.00,0.00,0.00,0.00
Comoros,2025,124514,241681,32.00,41.34,54.91,59.84,59.84
Seychelles,13328,188266,367816,305.20,358.20,416.32,442.34,442.34
Sao Tome and Principe,227161,3168050,4260866,12458.64,12386.93,12647.56,12662.63,12806.49
Cabo Verde,44100,3396746,4787751,14576.94,14538.93,14569.40,14650.74,14622.60
Guinea-Bissau,197400,3035574,4011694,17708.67,17990.06,18524.83,19102.77,18997.92

In [12]:
# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

# Groupby operation on 'Element'

data.groupby('Element').sum().sort_values(by = 'Y2017', ascending = False)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00